# Correr experimentos
En este archivo está el código para correr los experimentos y escribir los resultados en archivos CSV.
> Los archivos se guardan en la carpeta _resultados_.

In [59]:
import math, subprocess
import pandas as pd
import numpy as np
from IPython.display import display, clear_output

A continuación leemos los datasets en dataframes de Pandas.

In [52]:
def leer_instancia(path_instancia):
    with open(path_instancia, "r") as f:
        return f.read();

In [3]:
df_mejor_caso_bt_f = pd.read_csv("instancias/mejor-caso-bt-f/indice.csv");

In [36]:
df_dinamica = pd.read_csv("instancias/dinamica/indice.csv");

In [37]:
df_bt= pd.read_csv("instancias/bt/indice.csv");

In [65]:
df_fbms = pd.read_csv("instancias/muchas-soluciones-validas/indice.csv");
df_fbps = pd.read_csv("instancias/pocas-soluciones-validas/indice.csv");

In [28]:
df_fb2 = pd.read_csv("instancias/fb2/indice.csv");

La siguiente función sirve para correr el código sobre una instancia ejecutando un método en particular.
- FB: Fuerza bruta
- BT: Backtracking con ambas podas.
- BT-F: Backtracking solamente con poda por factibilidad.
- BT-O: Backtracking solamente con poda por optimalidad.
- PD: Programación dinámica.

In [9]:
def correr_experimento(metodo, archivo_instancia):
    # Leer archivo de la instancia.
    instancia = leer_instancia(archivo_instancia)
    
    # Crear proceso para ejecutar el codigo.
    process = subprocess.Popen(["../main", metodo], stderr=subprocess.PIPE, stdout=subprocess.PIPE, stdin=subprocess.PIPE, universal_newlines = True)

    # Poner la instancia en la entrada estandar.
    process.stdin.write(instancia)
    process.stdin.flush()

    # Correr experimento.
    exit_code = process.wait()

    # Verificar que el proceso no fallo.
    if exit_code != 0: raise(F"Hubo un error en la experimentacion para el algoritmo: {algoritmo} con la instancia {archivo_instancia}.")
    # Leer salida de STDERR con los tiempos de ejecucion de cada metodo.
    tiempo_de_ejecucion = float(process.stderr.read());
    
    process.stdin.close();
    process.stdout.close();
    process.stderr.close();
    
    return tiempo_de_ejecucion;

## Corremos los experimentos
Vamos a guardar una tabla con las ejecuciones y sus respectivos tiempos.

In [67]:
experimentos = [];

## Experimento Fuerza Bruta : R variable para distintos ns fijos

In [36]:
for i in range(0, df_fb2.shape[0]):
    fila = df_fb2.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "FB", fila["archivo"]]);

## Experimento Fuerza Bruta : Pocas/Muchas soluciones

In [8]:
for i in range(0, df_fbms.shape[0]):
    fila = df_fbms.iloc[i];
    n = fila["n"] 
    if (n <= 25):
        experimentos.append([fila["dataset"], fila["n"], fila["R"], "FB", fila["archivo"]]);
    
for i in range(0, df_fbps.shape[0]):
    fila = df_fbps.iloc[i];
    n = fila["n"] 
    if (n <= 25):
        experimentos.append([fila["dataset"], fila["n"], fila["R"], "FB", fila["archivo"]]);

## Experimento Back Tracking - Pocas/Muchas soluciones (Comparacion con FB)

In [56]:
for i in range(0, df_fbms.shape[0]):
    fila = df_fbms.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "BT", fila["archivo"]]);
    
for i in range(0, df_fbps.shape[0]):
    fila = df_fbps.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "BT", fila["archivo"]]);

## Experimento Back Tracking - Todos Rompen
Correr BT-F para el caso en que todos los productos rompen el jambotubo.

In [42]:
for n in range(0, df_mejor_caso_bt_f.shape[0]):
    fila_n = df_mejor_caso_bt_f.iloc[n];
    experimentos.append([fila_n["dataset"], n, fila_n["R"], "BT-F", fila_n["archivo"]]);

## Experimento Campana de Back Tracking

In [42]:
for i in range(0, df_bt.shape[0]):
    fila = df_bt.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "BT", fila["archivo"]]);

## Experimento Programacion Dinamica

In [13]:
for i in range(0, df_dinamica.shape[0]):
    fila = df_dinamica.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "PD", fila["archivo"]]);

## Experimento 1 :BT vs. PD

In [62]:
Rs_max = [111,  289,  37,  237,  71,  157,  15,  19,  19,  27,  35,  273,  43,  47,  43,  55,  65,  79,  81,  77,  89,  103,  103,  141,  135,  161,  157,  135,  159,  189]

In [63]:
for i in range(0, df_bt.shape[0]):
    fila = df_bt.iloc[i];
    n = fila["n"] 
    R = fila["R"]
    if (Rs_max[n - 1]  == R):
        experimentos.append([fila["dataset"], fila["n"], fila["R"], "PD", fila["archivo"]]);

## Experimento 2 :BT vs. PD

In [68]:
for i in range(0, df_fbps.shape[0]):
    fila = df_fbps.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "PD", fila["archivo"]]);
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "BT", fila["archivo"]]);

In [ ]:
# Experimetno 2bis : Muchas Soluciones

In [69]:
for i in range(0, df_fbms.shape[0]):
    fila = df_fbms.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "PD", fila["archivo"]]);
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "BT", fila["archivo"]]);

# TEST

In [30]:
#########TEST#############################

for i in range(0, df_fb2.shape[0]):
    fila = df_fb2.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);

    ###################TEST#####################################
for i in range(0, df_fbms.shape[0]):
    fila = df_fbms.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);
    
for i in range(0, df_fbps.shape[0]):
    fila = df_fbps.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);
    
    #############TEST####################
for i in range(0, df_fbms.shape[0]):
    fila = df_fbms.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);

for i in range(0, df_fbps.shape[0]):
    fila = df_fbps.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);
    
    #############TEST####################
    
for n in range(0, df_mejor_caso_bt_f.shape[0]):
    fila_n = df_mejor_caso_bt_f.iloc[n];
    experimentos.append([fila_n["dataset"], n, fila_n["R"], "T", fila_n["archivo"]]);
    
#################TEST########################    
for i in range(0, df_dinamica.shape[0]):
    fila = df_dinamica.iloc[i];
    experimentos.append([fila["dataset"], fila["n"], fila["R"], "T", fila["archivo"]]);

## Ejecutar los experimentos y guardar los resultados en un archivo CSV.
Este paso puede tardar unos minutos hasta terminar de ejecutarse.

In [70]:
columnas = ["dataset", "n", "R", "metodo", "tiempo"];
filas = [];
numero = 1
T = 5 # Numero de veces que se ejecuta cada experimento (para mayor fidelidad del tiempo).
for experimento in experimentos:
    # Voy mostrando que experimento se esta ejecutando.
    clear_output(wait=True)
    display('Experimento: ' + str(numero) + "/" + str(len(experimentos)))
    numero += 1
    
    # Ejecutamos el experimento T veces y obtenemos la mediana.
    tiempos = []
    resultados = []
    for i in range(0, T):
        t = correr_experimento(experimento[3], experimento[4])
        #t = exp[0]
        #res = exp[1]
        #resultados.append(res)
        tiempos.append(t);
    tiempo = np.median(tiempos);
    #print(resultados)
    filas.append([experimento[0], experimento[1], experimento[2], experimento[3], tiempo]);

'Experimento: 876/876'

In [71]:
df_resultados = pd.DataFrame(filas, columns=columnas);

df_resultados.to_csv("resultados/resultado.csv", index=False, header=True);

In [33]:
df_resultado = pd.DataFrame(filas, columns=columnas);
df_resultado

                       dataset   n     R metodo      tiempo
0     pocas-soluciones-validas   1  1000     PD    0.007152
1     pocas-soluciones-validas   1  1000     BT    0.000944
2     pocas-soluciones-validas   2  1000     PD    0.007104
3     pocas-soluciones-validas   2  1000     BT    0.001055
4     pocas-soluciones-validas   3  1000     PD    0.008706
..                         ...  ..   ...    ...         ...
151  muchas-soluciones-validas  37  1000     BT   83.522900
152  muchas-soluciones-validas  38  1000     PD    0.288595
153  muchas-soluciones-validas  38  1000     BT  899.487000
154  muchas-soluciones-validas  39  1000     PD    0.265942
155  muchas-soluciones-validas  39  1000     BT  212.635000

[156 rows x 5 columns]

In [24]:
df_aguardar = pd.read_csv("resultados/resultado.csv");
df_aguardar = df_aguardar

      dataset     n     R metodo     tiempo
0    dinamica  1000  1000     PD    8.33724
1    dinamica  1000  1500     PD   12.52940
2    dinamica  1000  2000     PD   16.64690
3    dinamica  1000  2500     PD   20.63810
4    dinamica  1000  3000     PD   26.42790
..        ...   ...   ...    ...        ...
191  dinamica  7500  5500     PD  627.19000
192  dinamica  7500  6000     PD  692.62000
193  dinamica  7500  6500     PD  757.17800
194  dinamica  7500  7000     PD  818.76800
195  dinamica  7500  7500     PD  883.40400

[196 rows x 5 columns]

In [25]:
df_aguardar = df_aguardar.append(df_resultado,ignore_index = True)
df_aguardar

                       dataset     n     R metodo      tiempo
0                     dinamica  1000  1000     PD    8.337240
1                     dinamica  1000  1500     PD   12.529400
2                     dinamica  1000  2000     PD   16.646900
3                     dinamica  1000  2500     PD   20.638100
4                     dinamica  1000  3000     PD   26.427900
..                         ...   ...   ...    ...         ...
347  muchas-soluciones-validas    37  1000     BT   80.493700
348  muchas-soluciones-validas    38  1000     PD    0.249857
349  muchas-soluciones-validas    38  1000     BT  819.143000
350  muchas-soluciones-validas    39  1000     PD    0.267243
351  muchas-soluciones-validas    39  1000     BT  216.283000

[352 rows x 5 columns]

In [26]:
df_aguardar.to_csv("resultados/resultado.csv", index=False, header=True);